.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  border-bottom: 1px solid #6b6a6a;
  padding: 10px;
  height: 80px;
}
.logo a {
  color: #ffd369;
  text-decoration: none;
}
.menu {
  list-style: none;
  display: flex;
}
.menu a {
  padding: 10px;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
}
